.container-fluid b{
    color: rgb(173, 11, 11); font-weight: 0;
}

.d-flex{
    margin-right:30px;
    margin-left: 1000px;
}

.d-flex ul li{
    margin-right: 10px;
}

.d-flex ul li a{
    color: white;
}

#register{
    background:rgb(37, 131, 255); border-radius: 10px; margin-right: 10px;
}

#login a{
    color: rgb(31, 106, 205); border-style: solid; border-color:rgb(31, 106, 205);
}
